/* Write your CSS in here */
@import url(
  https://fonts.googleapis.com/css?family=Source+Code+Pro:200,
  300,
  400,
  500,
  600,
  700,
  900
);

h1 {
  color: #C7D8CA;
  border-top: #C7D8CA;
  font-weight: 200;
  font-size: 70px;
  text-transform: uppercase;
  border-top: 5px solid;
}

body {
  background-color: #3C693F;
  color: #C7D8CA;
  font-family: 'Source Code Pro';
  font-weight: 200;
}

img {
  height: 400px;
  /*width: 300px;*/
  border-radius: 50%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  margin: 30px auto 0;
  padding: 20px 25px;
  background-color: #3C693F;
  color: #C7D8CA;
  font-size: 14px;
  text-align: center;
  border: 1px solide #C7D8CA;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  outline: none;
}

button:hover {
  transition: 0.9s;
  background-color: #C7D8CA;
  color: #3C693F;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 35px;
}